html,body{padding:0;margin:0;height:100%;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}

#app {
  height:100%;
  display:flex;
}

#app .layer-list {
  width: 165px; 
  margin:0;
  padding:0;
  font-size:12px;
  list-style:none;
}
#app .layer-list-item {padding:6px 5px 5px;border-bottom:1px solid #333}

#app .controldrawer { width: 42px; }

.di__toolbar {
  position: absolute;
  right: 0;
  top: 0;
  left: 202px;
  left: 
  height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
